*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.cover{
    width: 100%;
    background: #FFB800;

}
.cover form{
   padding: 1vh;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 28%;
    border-radius: 15px;
    margin-left: 10vh;
    background: #cfcfbd;
    outline: none;
  }
nav{
    display: flex;
    justify-content: space-between;
    right: 5%;
}

nav div{
    display: flex;
    list-style: none;
}

nav div li a{
    color: black;
    padding: 1vh;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3vh;
    font-weight: bold;

}
nav li a:hover{
    background: rgb(148, 145, 140);
}
.myphoto{
    display: flex;
}
.myphoto img{
    width: 28%;
    margin-top: 1vh;
    height: 60vh;
    margin-left: 20vh;
}
.text h2{
    margin-top: 3vh ;
    margin-left: 8vh;
    font-size: 9vh;
    text-transform: uppercase;
    text-shadow: 4px 4px seagreen;
    
}
.text h1{
    margin-top: 3vh ;
    margin-left: 8vh;
    font-size: 13vh;
    text-transform: uppercase;
    text-shadow: 6px 6px seagreen;

}

.body{
    margin-top: 0;
    background:  rgb(109, 109, 109);
    height: 190vh;

}
.image img{
    width: 100%;
    height: 55vh;

}
.box1{
    margin-top: 40vh;
    display: flex;
    width: 88%;
    margin: auto;
    height: 60vh;

}
.left{
    display: inline-block;
    width: 48%;
    padding: 30px 10px;
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(37, 73,214,0.18);
    background-color: rgb(61, 61, 61);
    border-radius: 7px;
}
.left:hover{
    background: rgb(28, 170, 206);

}
.left img{
    width: 33vh;
    margin-top: 0vh;
    margin-left: 5vh;
}
.left small{
    padding-top: 10px;
    display: block;
}
.leftbttom{
    display: inline-block;
    width: 48%;
    padding: 30px 10px;
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(37, 73,214,0.18);
    background-color: rgb(61, 61, 61);
    border-radius: 7px;
}
.leftbttom img{
    width: 28vh;
    margin-left: 5vh;
}
.leftbttom:hover{
    background: rgb(28, 170, 206);

}

.leftbttom small{
    padding-top: 10px;
    display: block;
}

.around{
    margin-top: 2vh;
    background: rgb(102, 114, 122);
    height: 20vh;
    border-radius: 15px;
}
.around p{
    font-size: 5vh;
    color: orange;
}
.around h3{
    color: white;
    font-size: 3.5vh;
}
.around h5{
    color: white;
    font-size: 2.6vh;
}

.box2{
    margin-top:3vh ;
    display: flex;
    width: 88%;
    margin: auto;
    margin-top: 2vh;
    height: 60vh;
}
.right{
    display: inline-block;
    width: 48%;
    padding: 30px 10px;
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(158, 241, 3, 0.18);
    background-color:  rgb(61, 61, 61);
    margin-left: auto;
    border-radius: 7px;

}
.right:hover{
    background: rgb(28, 170, 206);

}

.right img{
    width: 28vh;
    margin-left: 5vh;
}
.right small{
    padding-top: 10px;
    display: block;
}
.rightbttom{
    display: inline-block;
    width: 48%;
    padding: 30px 10px;
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(158, 241, 3, 0.18);
    background-color:  rgb(61, 61, 61);
    margin-left: auto;
    border-radius: 7px;

}
.rightbttom:hover{
    background: rgb(28, 170, 206);
}
.rightbttom img{
    width: 28vh;
    margin-left: 5vh;
}
.rightbttom small{
    padding-top: 10px;
    display: block;
}





